# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
flutter_tool/**/doc/api/
flutter_tool/**/ios/Flutter/.last_build_id
flutter_tool/.dart_tool/
flutter_tool/.flutter-plugins
flutter_tool/.flutter-plugins-dependencies
flutter_tool/.packages
flutter_tool/.pub-cache/
flutter_tool/.pub/
flutter_tool/build/

# Web related
flutter_tool/lib/generated_plugin_registrant.dart

# Symbolication related
flutter_tool/app.*.symbols

# Obfuscation related
flutter_tool/app.*.map.json

# Android Studio will place build artifacts here
flutter_tool/android/app/debug
flutter_tool/android/app/profile
flutter_tool/android/app/release
